name: Validation Core

on:
  workflow_call: # To pozwala na wywołanie tego workflow z innych plików

jobs:
  hassfest:
    name: hassfest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: hassfest
        uses: home-assistant/actions/hassfest@master

  hacs:
    name: hacs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration
          ignore: brands